<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma - Inicio</title>
    <link rel="stylesheet" href="../styles/global.css">
</head>
<body>
    
    <main class="contenedor-principal">
        <h1>Bienvenido a nuestra Tienda</h1>
        <p>Explora nuestros productos exclusivos. Para realizar una compra, por favor accede a tu cuenta.</p>
        
        <div class="caja-botones">
            <a href="sign-in" class="boton-acceso">Iniciar Sesión</a>
            <a href="sign-up" class="boton-registro">Registrarse</a>
        </div>
    </main>

    <script type="module" src="../scripts/auth.js"></script>
    <script type="module" src="../scripts/main.js"></script>
</body>
</html>